html, body{
    height: 100%;
    background-color: #eff1f5;
    color: #4c4f69;
    margin:0;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

hr{
    color:#4c4f69
}

body{
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "header" "main" "footer";
}

.header{
    grid-area: header;
    margin-bottom: 30px;
}
h1{
    font-weight: normal;
    font-size: 50px;
    margin:0;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #179299;
    font-weight: lighter;
}

a:hover{
    text-decoration: underline;
}

a.active:hover{
    text-decoration: none;
}

a.active{
    font-weight: bold;
}


.centered-content{
    margin-inline: auto;
    max-width: 900px;
}

.center-text{
    text-align: center;
}

main{
    grid-area: main;
    h1{
        font-weight: bold;
        font-size: 40px;
    }

    h2{
        margin:0;
        font-size:35px;
    }

    text-align: justify;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-top: 2px #4c4f69 solid;
    padding-bottom: 10px;

    h2{
        margin: 0   ;
    }
}

.list-title{
    margin-bottom: 20px;
}

.list-element{
    h1{
        font-size: 30px;
    }
}

.tribu-logo{
	height: 80px;
}
.title-div{
	display:flex;
	flex-direction : row;
	justify-content: center;
	align-items: center;
}

.floating-size{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(188, 192, 204, 0.75);
    border-bottom-left-radius: 3px;
    padding-inline: 2px;
}